/AbstractSessionTest.java
/ContactTest.java
/GuiceRunnerBuilder.java
/MovieTagsTest.java
/MovieTest.java
/MoviestaffPersonmoviesTest.java
/MoviestudioStudiomoviesTest.java
/PersonTest.java
/PhoneTest.java
/StudioTest.java
/SynopsisTest.java
